* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    min-height: 100vh;
}

.container--adminLogin {
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
}

.btn--adminLogin {
    width: 300px;
    height: 45px;
    border-radius: 45px;
}

.admin__login .input {
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
}

.admin__login .input::placeholder {
    color: rgba(255, 255, 255, .5);
}

.admin__login__logo {
    width: 400px;
    height: auto;
}

.admin__login__header {
    margin: 30px auto 60px;
    color: #fff;
    text-align: center;
}

.panelMenu {
    width: 20%;
    background: transparent;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    left: 0;
    border-right: 2px solid var(--secondary);
    z-index: 2;
}

.panelMenu__list {
    list-style-type: none;
    padding-top: 20px;
}

.panelMenu__list__item {
    border-bottom: 1px solid var(--secondary);
}

.panelMenu__list__item__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #D4D4D4;
    background: transparent;
    padding: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s all;
}

.panelMenu__list__item__link:hover {
    background: var(--secondary);
    color: #fff;
}

.panelMenu__list__item__link:hover .panelMenu__list__item__icon {
    filter: brightness(0) invert(1);
}

.panelMenu__list__item__icon {
    width: 20px;
    height: auto;
    margin-right: 20px;
}

.admin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.panelMenu__submenu {
    background: transparent;
    padding-left: 20%;
}

.panelMenu__submenu__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 18px;
    padding: 35px 0 35px 5%;
    transition: .2s all;
}

.panelMenu__submenu__link:hover {
    background: var(--secondary);
    color: #fff;
}

.panelMenu__list__item__link--selected {
    background: var(--secondary);
    color: #fff;
}

.panelMenu__list__item__link--selected .panelMenu__list__item__icon {
    filter: brightness(0) invert(1);
}

.adminTop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: var(--primary);
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    border-bottom: 1px solid var(--secondary);
}

.adminTop__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.adminTop__logoWrapper {
    display: block;
    width: 270px;
    height: auto;
    margin-top: 10px;
}

.adminTop__header {
    font-size: 17px;
}

.adminTop__header__key {
    color: #D4D4D4;
    font-weight: 400;
}

.adminTop__header__value {
    font-weight: 700;
    padding-left: 10px;
}

.adminTop__right .profileMenu::before {
    right: 10%;
}

.adminTop__right .siteHeader__player__btn {
    margin-left: 30px;
}

.profileMenu {
    position: absolute;
    bottom: -10px;
    right: 0;
    transform: translate(0, 100%);
    background: #fff;
    width: 200px;
    padding: 15px 0;
}

.profileMenu::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 17%;
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    background: transparent;
    z-index: 3;
}

.profileMenu--admin {
    bottom: -25px;
}

.profileMenu--club::before {
    border-bottom-color: var(--secondary);
}

.profileMenu--club {
    background: var(--secondary);
}

.profileMenu__list {
    list-style-type: none;
}

.profileMenu__list__link {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    width: 100%;
    font-size: 16px;
    transition: .2s all;
}

.profileMenu--club .profileMenu__list__link {
    color: #fff;
}

.profileMenu--club .profileMenu__list__link:hover {
    opacity: .5;
}

.profileMenu__list__img {
    width: 30px;
    height: auto;
    min-height: 100%;
    margin-right: 25px;
}

.siteHeader__player {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    height: 70px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteHeader__player--club {
    background: #3D3D3D;
}

.siteHeader__player__btn {
    background: transparent;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    position: relative;
}

.siteHeader__player__btn__img {
    width: 100%;
}

.img--envelope {
    margin-bottom: -12px;
}

.siteHeader__player--club .img--envelope {
    margin-bottom: 0;
}

.siteHeader__player__btn--profile {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #707070;
}

.siteHeader__player__btn--profile__img {
    min-width: 100%;
    min-height: 100%;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scroll::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border: none;
    border-radius: 31px;
}
.scroll::-webkit-scrollbar-track {
    background: var(--primary);
    border: none;
    border-radius: 5px;
}
.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

.panelMenu__submenu__link--special {
    color: #fff;
    width: 100%;
    text-align: left;
}

.admin__main {
    position: relative;
    padding: 50px 30px 30px 50px;
    width: 80%;
    margin: 100px 0 0 20%;
}

.admin__main__header {
    color: var(--secondary);
    text-transform: uppercase;
}

.container--addProduct .input {
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 5px;
}

.container--addProduct .admin__label,
.container--addProduct label {
    color: #fff;
    margin: 30px 15vw 30px 0;
    font-size: 13px;
    display: block;
}

.singleOption .admin__label {
    position: relative;
    margin-right: 0;
}

.container--addProduct .flex {
    justify-content: flex-start;
}

.rdw-editor-wrapper {
    margin-top: 10px;
    width: 100%;
}

.rdw-editor-wrapper,
.rdw-editor-wrapper * {
    color: #000;
}

.editor {
    background: #fff;
    margin-top: 0;
    color: #000;
    padding: 0 15px;
    min-height: 200px;
}

.btn--admin {
    width: 100%;
    font-size: 21px;
    font-weight: 700;
}

.btn--choose {
    border-radius: 4px;
    width: 200px;
    margin: 15px 25px 0 0;
    height: 40px;
    background: transparent;
    border: 2px solid var(--secondary) !important;
}

.btn--choose:hover {
    opacity: .8;
    background: transparent;
}

.btn--choose--selected {
    background: var(--secondary) !important;
}

.btn--choose--selected:hover {
    opacity: 1;
}

.btn--addOption {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 36px;
    font-weight: 700;
    margin-left: 30px;
}

.optionsHeader {
    margin: 40px 0;
    padding-top: 40px;
    border-top: 2px dashed var(--secondary);
}

.singleOption {
    margin-top: -25px;
}

.singleOption .input {
    width: 250px;
}

.singleOption__number {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.singleOption:last-of-type {
    margin-bottom: 50px;
}

.admin__label__imgUpload__updateImg,
.dzu-previewContainer img {
    width: 200px;
    height: auto;
}

.dzu-dropzone > label {
    margin-top: 5px;
    color: transparent;
}

.dzu-dropzone > label > input {
    color: #fff;
}

.singleOption > label {
    margin-right: 3vw;
    position: relative;
}

.admin__label__imgUpload__trashBtn {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    border-radius: 50%;
    background: var(--secondary);
    z-index: 2;
}

.dzu-previewStatusContainer {
    display: none;
}

.colorModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    transition: .4s all;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.colorModal__inner {
    width: 450px;
    height: 500px;
    max-width: 90vw;
    max-height: 100vh;
    background: var(--primary);
    border-radius: 15px;
    border: 1px solid #313131;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.colorModal__text {
    color: #fff;
    text-align: center;
    margin: 20px auto;
}

.colorModal__inner label {
    margin: 0;
}

.btn--openColorModal {
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 3px;
}

.colorModal__header {
    color: var(--secondary);
    margin-bottom: 25px;
}

.btn--changeColor {
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

.colorModal__close {
    position: absolute;
    top: 0;
    right: 15px;
    background: transparent;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}

.showColor {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid var(--secondary);
}

.deleteOptionBtn {
    background: var(--secondary);
    margin-left: 50px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 15px;
    transition: .2s all;
}

.deleteOptionBtn:hover {
    background: var(--hover);
}

.deleteOptionBtn .btn__img {
    width: 40%;
}

.dzu-inputLabel {
    margin-right: 0 !important;
}

.dzu-input {
    margin-left: -185px;
}

.container--addProduct .admin__flex {
    margin-right: 0;
}

.admin__status {
    position: absolute;
    top: 50px;
    left: 400px;
}

.admin__status__inner {
    width: auto;
    padding: 5px 15px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.admin__status--success {
    background: green;
}

.admin__status--error {
    background: #d83b27;
}

div[data-testid=three-dots-loading] {
    justify-content: center;
    align-items: center;
}

.admin__main__notification__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px 20px;
    border-bottom: 1px solid var(--secondary);
}

.admin__notification__item__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin__main__notification__item__col > * {
    font-size: 15px;
    text-align: center;
}

.admin__main__notification__item__key {
    color: #fff;
    text-decoration: underline;
    font-weight: 400;
}

.admin__main__notification__item__value {
    color: #fff;
    margin-top: 15px;
}

.admin__main__notification__item__value--small {
    font-size: 13px;
}

.admin__main__notification__item .col-1 {
    flex-basis: 15%;
    width: 20%;
}

.admin__main__notification__item .col-2 {
    flex-basis: 25%;
}

.admin__main__notification__item .col-3 {
    flex-basis: 35%;
}

.admin__main__notification__item .col-4 {
    flex-basis: 30%;
}

.admin__main__notification__item__imgWrapper {
    height: 100px;
    width: auto;
}

.admin__main__notification__item__imgWrapper .btn__img {
    height: 100%;
    width: auto;
}

.admin__main__notification__item__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__main__notification__item__btn {
    margin: 20px 10px 0;
    width: 20px;
    opacity: .7;
    transition: .2s all;
}

.admin__main__notification__item__btn--block {
    background: transparent;
}

.admin__main__notification__item__btn:hover {
    opacity: 1;
}

.admin__main__notification__item--addon .admin__main__notification__item__col {
    flex-basis: 30%;
}

.admin__label__oldImagePreviewWrapper,
.imagePreview {
    max-width: 250px;
    margin-top: 20px;
}

.img {
    width: 100%;
}

.addProduct__addonsSection {
    margin: 40px 0;
    padding: 30px 0;
    border-top: 2px dashed #A8905A;
}

.addProduct__addonsSection__header {
    color: #fff;
}

.addProduct__addonsSection__btn {
    width: 30px;
    height: 30px;
    border: 1px solid var(--secondary);
    background: transparent;
    position: relative;
    margin-right: 15px;
}

.addProduct__addonsSection__btn--selected::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: var(--secondary);
}

.addProduct__addonsSection__label {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.addProduct__addonsSection__label span {
    font-size: 16px;
}

.btn--admin--type {
    margin-right: 15vw;
    width: calc(100% - 15vw);
}
