@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #053A26;
    --secondary: #B9A16B;
    --hover: #A8905A;
}

.container {
    background: var(--primary);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.bold {
    font-weight: 700;
}

.btn {
    background: var(--secondary);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s all;
}

.btn:hover {
    background: var(--hover);
}

.input {
    border: 2px solid var(--secondary);
    padding: 5px 5px 5px 10px;
    color: #fff;
    outline: none;
    background: transparent;
    transition: .2s all;
}

.input--client {
    background: #fff;
    color: #000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__img {
    width: 100%;
    height: auto;
}

a {
    border: none;
    outline: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    display: block;
    z-index: -100;
}

.w {
    width: 1410px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.w--extra {
    width: 1600px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.d-none {
    display: none !important;
}

.container {
    background: var(--primary);
}

.topBar {
    background: var(--secondary);
    height: 40px;
    padding: 10px 0;
}

.topBar__socialMedia {
    width: 80px;
    height: 100%;
}

.topBar__socialMedia__link {
    height: 100%;
    width: 40px;
    display: block;
    opacity: .8;
    transition: .2s all;
}

.topBar > .w {
    height: 100%;
}

.topBar__socialMedia__link .img {
    height: 100%;
    width: auto;
}

.topBar__socialMedia__link:hover {
    opacity: 1;
}

.topBar__languageSwitcher {
    position: relative;
    width: 150px;
    text-align: center;
    z-index: 3;
}

.topBar__languageSwitcher__currentLanguage {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    position: relative;
}

.topBar__languageSwitcher__currentLanguage span {
    position: relative;
    transform: translateX(-10px);
    display: inline-block;
}

.topBar__languageSwitcher__currentLanguage span::after {
    content: url("../img/arrow-down.svg");
    transform-origin: top center;
    position: absolute;
    right: -20px;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    font-size: 12px;
}

.topBar__languageSwitcher__secondLanguage {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--secondary);
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: .2s all;
}

.topBar__languageSwitcher__secondLanguage:hover,
.topBar__languageSwitcher__currentLanguage:hover ~
.topBar__languageSwitcher__secondLanguage {
    visibility: visible;
    opacity: 1;
}

.topHeader__firstRow {
    border-bottom: 1px solid var(--secondary);
    padding: 20px 0 0;
    position: relative;
}

.topHeader__firstRow__link {
    display: block;
    width: 390px;
    height: auto;
    transform-origin: center;
    transition: .2s all;
}

.topHeader__firstRow__link:hover {
    transform: scale(1.02);
}

.topHeader__firstRow__right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 70px;
}

.topHeader__firstRow__right__link {
    display: block;
    width: 21px;
    opacity: .8;
    transition: .2s all;
}

.topHeader__firstRow__right__link:hover {
    opacity: 1;
}

.pageHeader {
    position: relative;
    z-index: 10;
}

.topHeader__menu {
    justify-content: center;
    margin: 10px 0;
}

.topHeader__menu__item {
    text-transform: uppercase;
    color: var(--secondary);
    font-size: 15px;
    display: block;
    margin: 10px 20px;
    opacity: 1;
    transition: .2s all;
}

.topHeader__menu__item:hover {
    opacity: .8;
}

span.topHeader__menu__item {
    display: block;
    position: relative;
}

.container--home .topHeader__menu__submenu {
    border-top: 1px solid var(--secondary);
    padding-top: 15px;
}

.topHeader__menu__submenu {
    position: absolute;
    bottom: -20px;
    left: -10px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    padding: 0 15px 15px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: .2s all;
}

span.topHeader__menu__item:hover {
    opacity: 1;
}

span.topHeader__menu__item::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 150%;
    height: 20px;
    background: transparent;
}

.topHeader__menu__submenu .topHeader__menu__item {
    text-align: left;
    display: block;
    width: 100%;
}

span.topHeader__menu__item:hover .topHeader__menu__submenu,
.topHeader__menu__submenu:hover {
    opacity: 1;
    visibility: visible;
}

.homepageSlider {
    height: auto;
    overflow: hidden;
    position: relative;
}

.homepageSlider__item {
    display: block;
    width: 100%;
}

.slick-dots {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 5%;
    width: auto !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    max-height: 120px;
}

.slick-active {
    border: 1px solid #000;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-dots li button:before {
    width: 100% !important;
    height: 100% !important;
}

.homepageModels,
.afterSlider {
    padding: 100px 0;
}

.homepage__header {
    color: var(--secondary);
    font-weight: 400;
    font-size: 64px;
}

.afterSlider__item {
    max-width: 400px;
    margin-top: 150px;
    position: relative;
}

.afterSlider__item figure {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.afterSlider__item::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -70px;
    height: 160px;
    background: var(--secondary);
    width: 2px;
    transform: translateX(-50%);
    z-index: 3;
    transition: .3s all;
}

.afterSlider__item:hover::after {
    transform: translate(-50%, -20px);
}

.afterSlider__item__header {
    color: var(--secondary);
    font-size: 36px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.homepageModels__item {
    display: block;
    width: 30%;
    position: relative;
    margin-top: 100px;
}

.homepageModels__item figure {
    width: 100%;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
}

.homepageModels__item__header {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background: #B9A16B;
    color: #000;
    height: 74px;
    border-radius: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    transition: .2s all;
}

.homepageModels__item:hover .homepageModels__item__header {
    transform: translate(-50%, -10px);
}

.newsletterSection {
    border-top: 1px solid var(--secondary);
    margin: 40px auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter__header,
.newsletter__subheader {
    text-align: center;
    color: var(--secondary);
    font-weight: 400;
}

.newsletter__header {
    color: var(--secondary);
    font-size: 30px;
}

.newsletter__subheader {
    color: #fff;
    font-size: 18px;
    margin: 30px auto 60px;
}

.newsletter__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 710px;
    margin: auto;
}

.input--newsletter {
    border: none;
    width: 550px;
    height: 60px;
    padding-left: 20px;
}

.btn--newsletter {
    width: 150px;
    height: 60px;
}

.footer {
    background: var(--secondary);
    width: 100%;
    padding: 80px 0;
}

.footer__inner {
    align-items: flex-start;
}

.footer__col {
    width: 18%;
}

.footer__col__header {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
}

.footer__logo {
    max-width: 100%;
}

.footer__link {
    font-size: 17px;
    display: block;
    margin: 25px 0;
}

.footer__link:hover {
    opacity: .8;
}

.footer__socialMedia {
    width: 80px;
}

.footer__socialMedia .topBar__socialMedia__link {
    display: block;
    width: 30px;
    height: 30px;
}

.footer__col > span {
    display: block;
    margin: 20px 0 30px;
}

.info {
    display: block;
    text-align: center;
}

.info--error {
    color: red;
}

.shop__header {
    margin: 50px auto 30px;
}

.pageHeading {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 32px;
}

.filterBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    background: transparent;
    outline: none;
    color: var(--secondary);
}

.filterIcon {
    width: 20px;
    margin-right: 12px;
}

.shop__products {
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.shop__products__item {
    width: 650px;
    height: calc(650px / 0.66666);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
    border-radius: 30px;
    overflow: hidden;
}

.shop__products__item__imgWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.shop__products__item__imgWrapper .productImg {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.shop__products__item__header {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.shop__products__item__price {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    color: #000;
}

.shop__products__item__notAvailable {
    font-size: 18px;
    color: #D6001C;
    text-transform: uppercase;
    font-weight: 400;
    margin: 25px auto -30px;
    text-align: center;
}

.shop__products__item__btn {
    background: #B9A16B;
    width: 220px;
    height: 48px;
    border-radius: 30px;
    color: #000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-weight: 500;
    transition: .2s all;
}

.shop__products__item__btn:hover {
    background: var(--hover);
}

.shop__products__item__btn--notAvailable {
    width: 350px;
}

.shop__products__item > *:not(figure) {
    position: relative;
    z-index: 3;
}

.shop__products__item__hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -5;
    opacity: 0;
    background: rgba(234, 234, 234, .8);
    transition: .5s all;
}

.shop__products__item:hover .shop__products__item__hover {
    opacity: 1;
    z-index: 5;
}

.loginAndRegister__header {
    max-width: 300px;
    margin: 80px auto 40px;
}

.loginAndRegister__btn {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 16px;
    background: transparent;
}

.loginAndRegister__btn--selected {
    position: relative;
}

.loginAndRegister__btn--selected::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: var(--secondary);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 90vw;
    margin: 50px auto;
}

.form .input {
    width: 500px;
    max-width: 90vw;
    height: 55px;
    margin: 12px 0;
}

.btn--submit {
    width: 100%;
    height: 55px;
    border-radius: 55px;
}

.form__addons {
    margin: 20px auto 30px;
    width: 100%;
}

.form__addons__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.form__check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border: 1px solid var(--secondary);
    margin-right: 10px;
    background: transparent;
    padding: 0;
}

.form__check--selected {
    position: relative;
}

.form__check--selected::after {
    content: "";
    width: 60%;
    height: 60%;
    background: var(--secondary);
    display: block;
}

.form__passwordReminder {
    color: var(--secondary);
    font-size: 14px;
    text-decoration: underline;
}

.btn__fill {
    width: 10px;
    height: 10px;
    background: var(--secondary);
}

.form__additionalInfo {
    margin-top: 35px;
    flex-direction: column;
}

.form__additionalInfo__header {
    font-size: 14px;
    text-align: center;
}

.form__additionalInfo__btn {
    background: transparent;
    color: var(--secondary);
    text-decoration: underline;
    font-size: 14px;
    margin-top: 5px;
}

.form__additionalInfo__btn,
.form__passwordReminder {
    transition: .2s all;
}

.form__additionalInfo__btn:hover,
.form__passwordReminder:hover {
    opacity: .8;
}

.form .info--error {
    font-size: 14px;
    margin-bottom: 15px;
}

.consents .form__addons__label {
    align-items: flex-start;
    margin: 25px 0;
}

.consents .form__addons__label .form__check {
    flex-basis: 17px;
}

.consents .form__addons__label span {
    width: calc(100% - 17px);
    display: block;
    line-height: 24px;
    font-size: 14px;
    margin-top: -4px;
}

.form .input::placeholder {
    color: rgba(255, 255, 255, .8);
}

.form {
    margin-bottom: 150px;
}

.panel {
    margin: 80px auto;
}

.panel__menu {

}

.panel__header {
    text-transform: uppercase;
    color: var(--secondary);
    font-size: 35px;
    margin-bottom: 40px;
}

.panel__menu__item {
    background: transparent;
    position: relative;
    font-size: 14px;
    color: var(--secondary);
    display: block;
    margin: 25px 0;
    text-transform: uppercase;
}

.panel__menu__item:hover {
    opacity: .8;
}

.panel__menu__item--selected {
    font-weight: 700;
}

.panel__menu__item--selected::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--secondary);
}

.panel__main--start__header,
.panel__main--start__text {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 400;
}

.panel__main--start__header {
    margin-bottom: 25px;
}

.panel__menu {
    width: 15%;
}

.panel__main {
    width: 80%;
}

.panel__main--start__header .bold {
    color: var(--secondary);
}

.filterSection {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: .3s all;
}

.filterSection__btn {
    color: var(--secondary);
    font-size: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    background: transparent;
}

.filterBtn,
.filterSection__btn {
    transition: .2s all;
}

.filterBtn:hover,
.filterSection__btn:hover {
    opacity: .8;
}

.product {
    align-items: flex-start;
    margin: 80px auto;
}

.product__gallery {
    position: sticky;
    top: 30px;
    left: 0;
    width: 50%;
    align-items: flex-start;
}

.product__gallery__miniatures {
    width: 120px;
}

.product__gallery__miniatures__item {
    width: 100px;
    margin-bottom: 10px
}

.product__gallery__main {
    width: calc(100% - 120px);
    position: relative;
}

.product__gallery__main__figure {
    border-radius: 30px;
}

.product__gallery__miniatures__item,
.product__gallery__main__figure {
    overflow: hidden;
}

.product__gallery__miniatures__item {
    background: transparent;
}

.product__gallery__miniatures__item .img {
    border-radius: 5px;
}

.product__gallery__btn {
    background: var(--secondary);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s all;
}

.product__gallery__btn:hover {
    background: var(--hover);
}

.product__gallery__btn .img {
    width: 8px;
}

.product__gallery__btn--prev {
    left: 15px;
}

.product__gallery__btn--next {
    right: 15px;
}

.product--loading {
    padding: 50px 0;
}

.product__gallery__btn--large {
    top: unset;
    transform: none;
    bottom: 30px;
    right: 20px;
}

.product__gallery__btn--large .img {
    width: 18px;
}

.product__content * {
    color: var(--secondary);
}

.product__title {
    font-size: 30px;
}

.product__price {
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0;
}

.product__shortDesc {
    font-size: 14px;
    margin-bottom: 60px;
}

.product__content {
    width: 45%;
}

.addon {
    margin-bottom: 40px;
}

.addon__title {
    font-weight: 400;
    font-size: 24px;
    margin: 15px 0 25px;
}

.addon__option {
    background: transparent;
    margin-right: 2%;
    margin-bottom: 15px;
}

.addon__option__textType {
    display: block;
    border: 1px solid var(--secondary);
    height: 30px;
    border-radius: 30px;
    padding: 4px 20px;
    text-transform: uppercase;
}

.addon__option__imageType {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addon__option__imageType figure {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    overflow: hidden;
}

.addon__option__imageType > span {
    margin-top: 10px;
    text-transform: uppercase;
}

.addon__options {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.addon__option {
    width: 30%;
}

.addon__option--selected .addon__option__imageType > span {
    position: relative;
}

.addon__option--selected .addon__option__imageType > span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--secondary);
}

.addon__option--selected .addon__option__textType {
    border-width: 2px;
    font-weight: 700;
}

.btn--productContent {
    margin: 30px 0;
    width: 100%;
    max-width: 360px;
    height: 50px;
    border-radius: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.product__productDetailsBtn {
    width: auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product__productDetailsBtn .product__productDetailsBtn__text {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.product__productDetailsBtn__imgWrapper {
    margin-top: 20px;
}

.product__productDetailsBtn__imgWrapper .img {
    width: 25px;
    display: block;
}

.product__productDetailsBtn__imgWrapper .img:last-of-type {
    margin-top: -12px;
}

.productDetails {
    margin: 100px auto;
    padding-top: 30px;
    max-width: 1000px;
}

.productDetails__header {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary);
    margin-bottom: 30px;
    width: fit-content;
    width: -moz-max-content;
}

.productDetails__header::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--secondary);
}

.productDetails > div *,
.productDetails > div {
    color: var(--secondary);
}

.productDetails > div > * {
    margin-bottom: 15px;
}

.productDetails > div ul {
    list-style-type: disc;
    margin-left: 20px;
}

.productContent__info {
    font-size: 13px;
    max-width: 400px;
}

.product__content .info--error {
    color: #d83b27;
    font-size: 13px;
    width: 100%;
    max-width: 360px;
    text-align: center;
    margin: 20px 0 -10px;
}

.container--order .order * {
    color: var(--secondary);
}

.order__header {
    margin: 20px auto 100px;
}

.order__header__h1 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.order__header__steps__item {
    width: 33.333%;
    font-size: 18px;
    font-weight: 500;
}

.order__header__steps__item span {
    padding-right: 8px;
}

.order__header__progress {
    margin-top: 30px;
    background: var(--secondary);
    height: 2px;
    width: 100%;
    position: relative;
}

.order__header__progress__inner {
    position: absolute;
    height: 4px;
    background: var(--secondary);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.order__main {
    margin: 20px auto 100px;
}

.cart__left {
    width: 65%;
}

.cart__right {
    width: 32%;
}

.cart__table__header {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--secondary);
}

.cart__table__header .cart__table__cell {
    font-size: 14px;
    text-transform: uppercase;
}

.cart__table__cell--0 {
    flex-basis: 40%;
}

.cart__table__cell--1 {
    flex-basis: 14%;
}

.cart__table__cell--2 {
    flex-basis: 24%;
}

.cart__table__cell--3 {
    flex-basis: 18%;
}

.cart__table__row {
    padding: 30px 0;
    border-bottom: 1px solid var(--secondary);
}

.cart__table__cell--image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart__table__cell--image figure {
    width: 110px;
    height: auto;
    overflow: hidden;
    margin-right: 25px;
}

.cart__table__amountChange {
    width: 100%;
    max-width: 120px;
    height: 50px;
    border: 2px solid var(--secondary);
}

.cart__table__amountChange > * {
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.cart__table__amountChange__btn {
    background: transparent;
    padding: 0;
    transition: .2s all;
}

.cart__table__amountChange__btn:hover {
    opacity: .8;
}
